<meta charset="UTF-8">
<div data-role="page" id="owned-page" data-add-back-btn="true">
	<div data-role="header">
		<h1 id="owned_name">รายการยืม</h1>
		<a href="javascript:void(0)" onclick="logout()"  data-role="button" data-icon="alert" class="ui-btn-right" data-iconpos="right" data-theme="e">Log out</a>
	</div>
	<div data-role="content">
		<div data-role="fieldcontain" class="fieldset">
			<label for="book_owned_date">วันที่ยืม :</label> <input name="book_owned_date" id="book_owned_date" data-clear-btn="true" type="date" />
		</div>
		<div data-role="fieldcontain">
		<ul data-role="listview" id="owned-list">
		</ul>
		</div>
	</div>
</div>