<meta charset="UTF-8">
<div data-role="page" id="a-gear-page" data-add-back-btn="true">
	<div data-role="header">
		<h1 id="a-sport_name">อุปกรณ์กีฬา</h1>
		<a href="javascript:void(0)" onclick="logout()"  data-role="button" data-icon="alert" class="ui-btn-right" data-iconpos="right" data-theme="e">Log out</a>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="a-gear-list" data-split-theme="a" data-split-icon="minus">
			<li data-role="list-divider">เพิ่มชนิดอุปกรณ์<a class="listview-header" href="new-gear.html" id="button-1" data-rel="dialog" 
        data-role="button" data-icon="plus" data-iconpos="notext" 
        data-theme="b">new gear</a></li>
		</ul>
	</div>
</div>