<meta charset="UTF-8">
<div data-role="page" id="admin-page">
	<div data-role="header">
		<h1>เมนู</h1>
		<a href="javascript:void(0)" onclick="logout()"  data-role="button" data-icon="alert" class="ui-btn-right" data-iconpos="right" data-theme="e">Log out</a>
	</div>
	<div data-role="content">
		<div class="ui-grid-a admin-menu-grid">
			<div id="admin_store" class="ui-block-a main-menu-block">
				<div>คลังอุปกรณ์</div>
			</div>
			<div id="admin_booklist" class="ui-block-b main-menu-block">
				<div>ให้ยืมอุปกรณ์</div>
			</div>
			<div id="admin_returnlist" class="ui-block-a main-menu-block">
				<div>รับคืนอุปกรณ์</div>
			</div>
			<div class="ui-block-b main-menu-block">
				<div>ติดต่อเรา</div>
			</div>
		</div>
	</div>
</div>