<meta charset="UTF-8">
<div data-role="page" id="prop-detail-page" data-add-back-btn="true">
	<div data-role="header">
		<h1 id="prop-detail_headname"></h1>
	</div>
	<div data-role="content">
		<div data-role="fieldcontain" id="prop_image_thumbnail" class="imagebox">
			
		</div>
		<div data-role="fieldcontain" class="fieldset">
			<label>ชื่อ :</label> <span id="prop_detail_name"></span>
		</div>
		<div data-role="fieldcontain" class="fieldset">
			<label>จำนวนที่เหลือ :</label> <span id="prop_detail_qty"></span>
		</div>
	</div>
</div>