<meta charset="UTF-8">
<div data-role="page" id="menu-page">
	<div data-role="header">
		<h1>เมนู</h1>
		<a href="javascript:void(0)" onclick="logout()"  data-role="button" data-icon="alert" class="ui-btn-right" data-iconpos="right" data-theme="e">Log out</a>
	</div>
	<div data-role="content">
		<div class="ui-grid-a main-menu-grid">
			<div id="menu_store" class="ui-block-a main-menu-block">
				<div>คลังอุปกรณ์</div>
			</div>
			<div class="ui-block-b main-menu-block">
				<div>รายการยืม</div>
			</div>
			<div class="ui-block-a main-menu-block">
				<div>ครอบครอง</div>
			</div>
			<div class="ui-block-b main-menu-block">
				<div>ติดต่อเรา</div>
			</div>
		</div>
	</div>
</div>