<meta charset="UTF-8">
<div data-role="page" id="login-page" data-add-back-btn="true" data-back-btn-text="Login">
	<div data-role="header">
		<h1>Login</h1>
	</div>
	<div data-role="content">
		<label for="login_user">User Name :</label>
		<input name="login_user" id="login_user" data-clear-btn="true" data-mini="true" value="" maxlength="10" type="text"/>
		<label for="login_pass">Password :</label>
		<input name="login_pass" id="login_pass" data-clear-btn="true" data-mini="true" value="" maxlength="16" type="password"/>
		
		<a href="" id="bnt_regis_p" data-role="button" data-icon="check" data-theme="b">Register</a>
	</div>
</div>