<meta charset="UTF-8">
<div data-role="page" id="s" data-add-back-btn="true" data-back-btn-text="Login">
	<div data-role="header">
		<h1>สมัคร</h1>
	</div>
	<div data-role="content">
		<label for="regis_user">User Name :</label>
		<input name="regis_user" id="regis_user" data-clear-btn="true" data-mini="true" value="" maxlength="10" type="text"/>
		<label for="regis_pass">Password :</label>
		<input name="regis_pass" id="regis_pass" data-clear-btn="true" data-mini="true" value="" maxlength="16" type="password"/>
		
		<a href="" id="bnt_regis_p" data-role="button" data-icon="check" data-theme="b">Register</a>
	</div>
</div>