<meta charset="UTF-8">
<div data-role="page" id="sport-page" data-add-back-btn="true">
	<div data-role="header">
		<h1>ชนิดกีฬา</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="sport-list">
			<li><a href="stock/football.html" data-transition="slide">ฟุตบอล</a></li>
			<li><a href="stock/basketball.html" data-transition="slide">บาสเก็ตบอล</a></li>
			<li><a href="stock/volleyball.html" data-transition="slide">วอลเลย์บอล</a></li>
		</ul>
	</div>
</div>
<script>
alert(1);
</script>